services:
    pql:
        build:
            context: ./
            dockerfile: ./.docker/php/Dockerfile
        ports:
            - "9080:80"
        environment:
            - SERVERNAME=web-project
            - SERVERALIAS=example2.local *.example2.local
            - DOCUMENTROOT=www
            - NETTE_DEBUG_SECRET=SC9NJHrQOrcys2sdaySIZvxQKKQp5Dx0HT0SMD9fsqkMEwPV93nGUzSW5ryXZ1sS
        volumes:
            - ./:/var/www/html/
        tty: true